<div class="page">
    <div class="char">
        <p1><b>Name: </b> <%= char[0].char_name %> </p1>
        <p1><b>Level: </b> 1</p1>
        <p1><b>Moves: </b><%= char[0].char_moves %></p1>
        <hr>
        <p2>HP: <%= char[0].char_hp %>/<%= char[0].char_hp_max %></p2>
        <p2>Strenght: <%= char[0].char_str %></p2>
        <p2>Dexterity: <%= char[0].char_dex %></p2>
        <p2>Intelligence: <%= char[0].char_int %></p2>
        <p2>Vitality: <%= char[0].char_vit %></p2>
        <p2>Gold: <%= char[0].char_gold %></p2>
        <p2>Silver: <%= char[0].char_silver %></p2>
    </div>