<% include ./partials/headers.ejs %>
<% include ./partials/char.ejs %>

<div class="content">
    <% for (i = 0; i < mobs.length; i++){ %>
        <div class="card">
            <div class="card-header bg-secondary">
                <span class="card-text row">
                    <p class="col-sm"><%= mobs[i].mob_name %></p><p class="col-sm"> Level: <%= mobs[i].lvl %></p><p class="col-sm"> HP: <%= mobs[i].min_hp %> - <%= mobs[i].max_hp %></p>
                </span>
            </div>
            <div class="card-body bg-dark row" style="margin-left: 0; margin-right: 0;">
                <h5 class="card-title">Stats</h5>
                <div class="col-md">
                    <p class="card-text">Physical Damage: <%= mobs[i].min_physical_dmg %> - <%= mobs[i].max_physical_dmg %> </p>
                    <p class="card-text">Energy Damage: <%= mobs[i].min_energy_dmg %> - <%= mobs[i].max_energy_dmg %> </p>
                </div>
                <div class="col-md">
                    <p class="card-text">Physical Armor: <%= mobs[i].min_physical_armor %> - <%= mobs[i].max_physical_armor %> </p>
                    <p class="card-text">Energy Armor: <%= mobs[i].min_energy_armor %> - <%= mobs[i].max_energy_armor %> </p>
                </div>
                <a href="#" class="btn btn-secondary float-right">Fight!</a>
            </div>
        </div>
    <% } %>
</div>

<% include ./partials/inventory.ejs %>
<% include ./partials/footer.ejs %>