<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="adventure.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>bGame</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">bGame</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/adventure">Adventure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                        </li>
                    </ul>
                    <span class="nav navbar-nav navbar-right navbar-dark bg-dark">
                        <li class="nav-item">
                            <a class="nav-link">Signed In As <%= email %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </span>
                </div>
        </nav>

        <div class="page">
            <div class="char">
                <p1><b>Name: </b> <%= char[0].char_name %> </p1>
                <p1><b>Level: </b> 1</p1>
                <p1><b>Moves: </b><%= char[0].char_moves %></p1>
                <hr>
                <p2>HP: <%= char[0].char_hp %></p2>
                <p2>Strenght: <%= char[0].char_str %></p2>
                <p2>Dexterity: <%= char[0].char_dex %></p2>
                <p2>Intelligence: <%= char[0].char_int %></p2>
                <p2>Vitality: <%= char[0].char_vit %></p2>
                <p2>Gold: <%= char[0].char_gold %></p2>
                <p2>Silver: <%= char[0].char_silver %></p2>
            </div>
            
            <div class="content">
                    CONTENT, CONTENT, CONTENT, CONTENT
            </div>

            <div class="inventory">
                <table>
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <% if(helmet[0] == undefined){ %>
                            <td id="helmet">BRAK</td>
                        <% } else { %>
                            <td id="helmet" data-toggle="popover" data-html="true" data-trigger="hover" 
                                title="<%= helmet[0] == undefined ? 'brak' : helmet[0].item_name %>" 
                                data-content=
                                    "Physical armor: <%= helmet[0] == undefined ? 'brak' : helmet[0].physical_armor %> <br />
                                    Energy armor: <%= helmet[0] == undefined ? 'brak' : helmet[0].energy_armor %>" >
                                    <%= helmet[0] == undefined ? 'brak' : helmet[0].item_name %></td>
                        <% } %>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <% if(waepon[0] == undefined){ %>
                            <td id="waepon">BRAK</td>
                        <% } else { %>
                            <td id="waepon" data-toggle="popover" data-html="true" data-trigger="hover"
                                title="<%= waepon[0] == undefined ? 'brak' : waepon[0].item_name %>"
                                data-content=
                                    "Physical damage: <%= waepon[0] == undefined ? 'brak' : waepon[0].physical_dmg %> <br />
                                    Energy damage: <%= waepon[0] == undefined ? 'brak' : waepon[0].energy_dmg %>">
                                    <%= waepon[0] == undefined ? 'brak' : waepon[0].item_name %></td>
                        <% } %>
                            
                        <% if(armor[0] == undefined){ %>
                            <td id="armor">BRAK</td>
                        <% } else { %>
                            <td id="armor" data-toggle="popover" data-html="true" data-trigger="hover" 
                                title="<%= armor[0] == undefined ? 'brak' : armor[0].item_name %>" 
                                data-content=
                                    "Physical armor: <%= armor[0] == undefined ? 'brak' : armor[0].physical_armor %> <br />
                                    Energy armor: <%= armor[0] == undefined ? 'brak' : armor[0].energy_armor %>" >
                                    <%= armor[0] == undefined ? 'brak' : armor[0].item_name %></td>
                        <% } %>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>&nbsp;</td>
                        <% if(legs[0] == undefined){ %>
                            <td id="legs">BRAK</td>
                        <% } else { %>
                            <td id="legs" data-toggle="popover" data-html="true" data-trigger="hover" 
                                title="<%= legs[0] == undefined ? 'brak' : legs[0].item_name %>" 
                                data-content=
                                    "Physical armor: <%= legs[0] == undefined ? 'brak' : legs[0].physical_armor %> <br />
                                    Energy armor: <%= legs[0] == undefined ? 'brak' : legs[0].energy_armor %>" >
                                    <%= legs[0] == undefined ? 'brak' : legs[0].item_name %></td>
                        <% } %>
                    <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

</html>